.Cooperate_description {

    >div {
        margin: 10px 0;
    }

    >div>p {
        letter-spacing: 1px;
        display: flex;
        text-align: left;
        text-rendering: optimizeSpeed;
    }
}
